:ruby
  is_hotel_selected = defined?(@hotel)

.flex.flex-col.items-center.mx-auto.gap-y-4{class: "xl:w-1/2"}
  .border.w-full.py-1.rounded-full.shadow-md.transition.cursor-pointer.text-gray-600.group
    = form_with url: url, scope: scope, method: method, class: "mb-0" do |form|
      .flex.flex-row.items-center.justify-between.divide-x.divide-gray-100
        = content_tag(:div, class: "px-1 w-full") do
          = render partial: 'shared/filter', locals: { form: form, label: 'Check in', attribute: :arrival_date, placeholder: 'Add dates', input_options: { type: "date" }, default_value: @arrival_date }
        = content_tag(:div, class: "px-1 w-full") do
          = render partial: 'shared/filter', locals: { form: form, label: 'Check out', attribute: :departure_date, placeholder: 'Add dates', input_options: { type: "date" }, default_value: @departure_date }
        = content_tag(:div, class: "px-1 w-full") do
          = render partial: 'shared/filter', locals: { form: form, label: 'How many', attribute: :number_of_rooms, placeholder: 'Add rooms', input_options: { type: "number" }, default_value: @number_of_rooms }
        = content_tag(:div, class: class_names("px-1 w-full", "hidden": is_hotel_selected)) do
          = render partial: 'shared/filter', locals: { form: form, label: 'How much', attribute: :price, placeholder: 'set price ($)', input_options: { type: "number" }, default_value: @price }
        .text-sm.pl-6.pr-2.flex.flex-row.items-center.gap-3
          .w-24.flex.justify-end
            = button_tag class: "p-4 group-hover:p-3 bg-rose-500 rounded-full text-white flex flex-row items-center group-hover:gap-x-2 w-12 h-12 group-hover:w-auto transition duration-400 ease-in-out" do
              = image_tag "search.png", class: "h-4 w-4"
              %span.opacity-0.group-hover:opacity-100.transition.duration-400.ease-in-ou.delay-100
                = is_hotel_selected ? "Update" : "Search"
  - if params[:filter].present?
    .flex.text-xs.text-ellipsis.border-b.border-gray-400
      = link_to root_path, data: {turbo_action: "replace"}, class: "flex flex-row items-center gap-x-1" do
        = image_tag "times.svg", class:"h-2 w-2"
        Clear filter