.border-b.pb-6.z-50.sticky.top-20.bg-white
  = render partial: "shared/search_form", locals: { url: new_hotel_reservation_path(@hotel, request.query_parameters), method: :get, scope: :filter }

- present(@hotel) do |item|
  .max-w-5xl.container.mx-auto.z-40.py-4.sticky.top-20.bg-white.my-12
    .w-full.grid.grid-cols-5.gap-4
      .col-span-3.h-full.flex.items-center
        .flex.flex-col.gap-y-4
          .flex.flex-col
            %span.font-medium.text-gray-800.text-xl
              = item.description
            .text-xl.text-rose-600.font-semibold
              = item.formatted_price
          = image_tag "#{@hotel.image_url}?im_w=1200", class: "rounded-md"
          = render partial: "reservations/requested_rooms"
      .col-span-2.w-full.h-full.flex.items-center.flex-col.gap-y-2
        = render partial: "reservations/personal_details"

= turbo_frame_tag "success_modal"