= link_to new_hotel_reservation_path(hotel, request.query_parameters), class: "col-span-1 cursor-pointer group flex flex-col gap-y-4 relative", data: {turbo_action: "advance", turbo_frame: "_top"} do
  = image_tag "#{hotel.image_url}?im_w=720", class: "h-full h-64 rounded-lg transform group-hover:scale-105 transition duration-500 ease-in-out"
  .flex.flex-col.text-base
    %span.font-medium.text-gray-800
      = hotel.name
      &="-"
      = hotel.city
    %span.font-regular.text-gray-500.text-sm
      %span.gap-x-0
        Available
        &="("
        = hotel.available_number_of_rooms
        &=") rooms"
    %span.font-medium.text-gray-800
      $
      = hotel.price_per_room
      night per room