<div class="col-span-1 cursor-pointer group flex flex-col gap-y-4">
    <%= image_tag "#{room.image_url}?im_w=720", class: "h-full h-64 rounded-lg transform group-hover:scale-105 transition duration-500 ease-in-out" %>
    <div class="flex flex-col text-base">
        <span class="font-medium text-gray-800">
            <%= room.hotel.name%>,
            <%= room.hotel.city%>
        </span>
        <span class="font-regular text-gray-500 text-sm">
            <% if room.bookable? %>
                Available
            <% else %>
                From <%= room.booked_until.strftime("%b %d, %Y") %>
            <% end %>
        </span>
        <span class="font-medium text-gray-800">$<%= room.price%> night</span>
    </div>
</div>