.max-w-5xl.container.mx-auto.z-50.py-4.sticky.top-20.bg-white.my-12
  .w-full.grid.grid-cols-5.gap-4
    .col-span-3
      .flex.flex-col.gap-y-4
        %span.font-medium.text-gray-800.text-xl
          = @hotel.name
          &="-"
          = @hotel.city
        = image_tag "#{@hotel.image_url}?im_w=1200", class: "rounded-md"
    .col-span-2.w-full.h-full.flex.items-center
      .shadow-lg.p-4.rounded-md.border.border-border-gray-100.flex.flex-col.w-full
        .text-xl.text-gray-600.font-semibold
          $
          = @hotel.price
          night
        = form_with url: root_path, method: :post, class: "mt-4" do |form|
          .flex.flex-col.border.border-gray-100.rounded-md
            .flex.flex-row.divide-x.divide-gray-100
              .flex.flex-col.px-4.py-2
                = form.label :check_in, "Check in", class: "text-xs font-medium text-gray-500 mb-2"
                = form.text_field :check_in, type: "date", class: "font-regular text-sm border-none text-gray-600 focus:outline-none focus:ring-none", value: @default_check_in
              .flex.flex-col.px-4.py-2
                = form.label :check_out, "Check out", class: "text-xs font-medium text-gray-500 mb-2"
                = form.text_field :check_out, type: "date", class: "font-regular text-sm border-none text-gray-600 focus:outline-none focus:ring-none", value: @default_check_out
            .flex.flex-col.px-4.py-2.border-t.border-gray-100
              = form.label :rooms_count, "Rooms", class: "text-xs font-medium text-gray-500 mb-2"
              = form.text_field :rooms_count, type: "number", class: "font-regular text-sm border-none text-gray-600 focus:outline-none focus:ring-none", value: @default_rooms_count
            .flex.flex-col.px-4.py-2.border-t.border-gray-100
              = form.label :first_name, "First Name", class: "text-xs font-medium text-gray-500 mb-2"
              = form.text_field :first_name, type: "text", class: "font-regular text-sm border-none text-gray-600 focus:outline-none focus:ring-none", autofocus: true
            .flex.flex-col.px-4.py-2.border-t.border-gray-100
              = form.label :last_name, "Last Name", class: "text-xs font-medium text-gray-500 mb-2"
              = form.text_field :last_name, type: "text", class: "font-regular text-sm border-none text-gray-600 focus:outline-none focus:ring-none"
            .flex.flex-col.px-4.py-2.border-t.border-gray-100
              = form.label :email, "Email", class: "text-xs font-medium text-gray-500 mb-2"
              = form.text_field :email, type: "email", class: "font-regular text-sm border-none text-gray-600 focus:outline-none focus:ring-none"
          = form.submit "Place Booking", class: "p-4 bg-rose-500 rounded-md text-white w-full mt-8"
